<?xml version='1.0'?>

<GlobalConfig 
   xmlns="gta-gameworld-renderer"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="schema.xsd"
   >
   
   <GtaFolder>c:\Program Files\GTAIII\</GtaFolder>
   
   <LoadingParams>
      <ShowWarningsIfTextureNotFound>false</ShowWarningsIfTextureNotFound>
   </LoadingParams>
   
   <RenderingParams>
      <FullScreen>true</FullScreen>
      <NearClippingDist>0.1</NearClippingDist>
      <FarClippingDist>5000</FarClippingDist>
   </RenderingParams>
</GlobalConfig>