<?xml version='1.0' encoding="utf-8" ?>

<ConfigData
   xmlns="gta-gameworld-renderer"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="schema.xsd"
>
   
   <GTAFolderPath>c:\Program Files\GTAIII\</GTAFolderPath>
   
   <Loading>
      <ShowWarningsIfTextureNotFound>false</ShowWarningsIfTextureNotFound>
      <SceneObjectsAmountLimit>-1</SceneObjectsAmountLimit>
      <LowDetailedScene>false</LowDetailedScene>
      <DetailedLogOutput>false</DetailedLogOutput>
   </Loading>
   
   <Rendering>
      <FullScreen>true</FullScreen>
      <NearClippingDistance>0.1</NearClippingDistance>
      <FarClippingDistance>5000</FarClippingDistance>
   </Rendering>
   
   <Rasterization>
      <GridCellSize>100</GridCellSize>
   </Rasterization>
</ConfigData>